#lightbox_content{
    position: absolute;
    width: 30% ;
    margin-left: 35% ; 
    margin-right: 35% ; 
    margin-top: 20vh ;
    margin-bottom: 45vh ;
    height: 35vh ;
    background-color: #969696 ; 
    border-radius: 25px;
    border: 2px solid #5F5F5F;
}

#username{
    position: relative ; 
    width: 50% ;
    margin-left: 25% ;
    margin-right: 25% ;
    font-size: 2em ; 

}
#password{
    position: relative ; 
    width: 50% ;
    margin-left: 25% ;
    margin-right: 25% ;
    font-size: 2em ;
    }

#closelightbox{
    position: relative ; 
    width: 30% ;
    margin-left: 35% ;
    margin-top: 2vh ; 
    margin-right: 35% ;
    font-size: 2em ;
    }
    
#logintitle{
    text-align: center ;
    font-size: 2em ;
    margin: 2% ;
}
#loginfailed{
    margin-top: 1vh ; 
    color: red ; 
    text-align: center ;
    font-size: 2em ;
    font-weight: bold ;
}